:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  background-image: linear-gradient(to right, rgb(206, 13, 240) , rgb(103, 36, 211));
  background-size: cover;
}

.title {
  text-align: center;
  color: white;
}

.ans-container {
  background-color: grey;
  width: 50%;
  height: 5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 25%;
  border: 1px solid black;
}

.equation {
  height: 1rem;
  text-align: right;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.ans {
  font-size: 2rem;
  text-align: right;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  color: white;
}

.input-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 50%;
  height: 20rem;
  margin-left: 25%;
}

.input {
  font-size:larger;
  border: 1px solid black;
}

.input:hover{
  background-color: yellow;
}

.special-input {
  width: 198%;
  font-size:larger;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
}

.special-input:hover {
  background-color: yellow;
}

.btm-right {
  border-bottom-right-radius: 10px;
}